<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Pairs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="board">
      <div th:each="card : ${board.cards}" class="card">
        <img
          th:if="${card.isShowed}"
          th:src="@{/images/{image}(image=${card.imagePath})}"
          class="image"
        />
        <form
          th:unless="${card.isShowed}"
          action="#"
          th:action="@{/pexeso/{boardId}/{cardId}(boardId=${board.id}, cardId=${card.id})}"
          method="post"
        >
          <input
            th:unless="${card.isShowed}"
            type="image"
            th:src="@{/images/pairs.png}"
            alt="Submit"
            src="#"
            class="image"
          />
        </form>
      </div>
    </div>
  </body>
</html>
